obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
bin/x64/Debug/Imagine.Uwp.Ftp.pri
obj/x64/Debug/Imagine.Uwp.Fpt.csproj.FileListAbsolute.txt
obj/x64/Debug/MultipleQualifiersPerDimensionFound.txt
obj/x64/Debug/embed.resfiles
obj/x64/Debug/embed.resfiles.intermediate
obj/x64/Debug/layout.resfiles
obj/x64/Debug/layout.resfiles.intermediate
obj/x64/Debug/pri.resfiles
obj/x64/Debug/pri.resfiles.intermediate
obj/x64/Debug/priconfig.xml
obj/x64/Debug/priconfig.xml.intermediate
obj/x64/Debug/qualifiers.txt
obj/x64/Debug/qualifiers.txt.intermediate
obj/x64/Debug/resources.resfiles
obj/x64/Debug/resources.resfiles.intermediate
